BOT_TOKEN=your_discord_bot_token_here

# Optional Rust+ configuration --- IGNORE --- you can remove these lines if using discord commands
# to set these values at runtime
RUSTPLUS_SERVER=your_rust_server_ip_or_hostname
RUSTPLUS_PORT=your_rust_server_port
RUSTPLUS_PLAYER_ID=your_steam_id
RUSTPLUS_PLAYER_TOKEN=your_player_token
RUSTPLUS_GOOGLE_PUSH_ANDROID_ID=your_android_id
RUSTPLUS_GOOGLE_PUSH_SECURITY_TOKEN=your_security_token