# files
.vscode
.env
.env.local
package-lock.json
yarn.lock

# folders
build
node_modules
ref

# system files
.DS_Store
Thumbs.db

# local state files
*.log
*.local
fcm-state.json
watchlist.json
extracted_features
map_full.png
credentials.json

death-history.json
map_heatmap.png
